/* Change a bit default ModestaCSS values */
.fullscreen h1.title { margin-bottom: 0; letter-spacing: 2px; }
.undertitle { font-style: italic; }
.box-container p { font-size: 18px; margin-bottom: .2em; }

/* Add a pointer to arrow <span> */
.info-button { cursor: pointer; }

/* Add some spacing to the info on "second page" for more depth */
.info-container { padding-left: 2.5em; }

/* Remove border-radius standard from ModestaCSS */
.btn { border-radius: 0; }

/* Custom emojis */
.update { background-image: url('../images/update.png'); }
.remove { background-image: url('../images/remove.png'); }
.add { background-image: url('../images/add.png'); }
.bot {
  background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/robot-face_1f916.png');
  vertical-align: -.3em;
  height: 2.00em;
  width: 2.00em;
  background-size: 2.00em 2.00em;
}

/* R e s p o n s i v e */
@media (max-width: 550px) {
  .info-container { padding-left: 0; }
}
